<div class="container section-padding">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="section-title text-center">
                <h1> <span class="alo"></span> Preguntas <span class="colored-text">Frequentes</span></h1> 
                <span class="border-line"></span>
                <p class="lead subtitle-caption">
                    Vivamus congue diam hello vitae tortor imperdiet congue.
                </p>
            </div>
        </div>
    </div><!--heading row-->
</div><!--container-->

<section id="faq">
    <div class="faq-container">
        <div class="faq-illustration"><!-- place ilustration here -->
        <!-- place mobile ilustration here -->
        </div>

        <div class="faq-box">
            <h1>FAQ</h1>

            <button class="faq-collapsible">Cuantos paquetes puedo enviar</button>
            <div class="faq-content">
                <p>Los que quieres solo genera sus referencias</p>
            </div>

            <button class="faq-collapsible">Y si quiero enviar mas de los rangos?</button>
            <div class="faq-content">
                <p>Contactanos para rangos de peso mas altos (hasta x toneladas)</p>
            </div>
            
            <button class="faq-collapsible">En que horario puedo enviar los paquetes?</button>
            <div class="faq-content">
                <p>El horario esta sujeto a el de las sucursales.</p>
            </div>
            
            <button class="faq-collapsible">Hay reembolso?</button>
            <div class="faq-content">
                <p>Por el momento todas las ventas son finales.</p>
            </div>
            
            <button class="faq-collapsible">Que hago si tengo fallas tecnicas?</button>
            <div class="faq-content">
                <p>Contacta termuxuser01@gmail.com</p>
            </div>
        </div>

    </div>
</section>