{% load static %}


<footer>
   <div class="footer-content">
      <h3 class="footer-title">YaEnvialo.com</h3>
      <p class="footer-desc">Esta es la pagina de yaenvialo para cotizar envios y recibir soporte de clientes</p>

      <!-- footer links -->
      <div class="footer-menu">
         <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="">Terminos y Condiciones</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Politica de Privacidad</a></li>
            <li><a href="">Articulos Prohibidos</a></li>
         </ul>
      </div>

      <div class="footer-bottom">
         <p class="my-contact">Designed by - termuxuser01@gmail.com</a></p>
      </div>
   </div>
</footer>