<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>YaEnvialo - Envios rapidos y accesibles</title>

        <!-- Bootstrap -->
        {% load static %}
        <link href="{% static 'styles/style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'icons/css/ionicons.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/faq.css' %}">

        <!-- flickity -->
        <link rel="stylesheet" type="text/css" href="{% static 'styles/flickity.min.css' %}">
       
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="80">


        <!-- Static navbar -->
        {% include "navbar.html" %}

        {% include "carousel.html" %}

        <section id="about" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="section-title">
                            <h1>modern <span class="alo">Digital agency</span></h1> 
                            <span class="border-line"></span>
                            <p class="lead subtitle-caption">
                                we are a creative agency located in <span class="colored-text">sydney, australia.</span> It is a long established fact that a reader will be distracted by the readable content.
                            </p>
                        </div>
                    </div>
                </div><!-- title row end-->

                <div class="row">
                    <div class="col-sm-6 margin-bottom30">
                        <div class="feature-icon-wrap clearfix">
                            <div class="left-side-icon">
                                <ion-icon name="bulb-outline" class="front-icon"></ion-icon>
                                <ion-icon name="bulb-outline" class="back-icon"></ion-icon>
                            </div>
                            <div class="features-text-right">
                                <h3>Administracion Inteligente</h3>                         
                                <p>
                                    Solo genera una referencia y entrega en una sucursal para enviar.
                                </p>
                            </div>
                        </div><!--features icon wrap-->
                    </div><!--features col-->
                    <div class="col-sm-6 margin-bottom30">
                        <div class="feature-icon-wrap clearfix">
                            <div class="left-side-icon">
                                <ion-icon name="cog-outline" class="front-icon"></ion-icon>
                                <ion-icon name="cog-outline" class="back-icon"></ion-icon>
                            </div>
                            <div class="features-text-right">
                                <h3>Great support</h3>                         
                                <p>
                                    Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.
                                </p>
                            </div>
                        </div><!--features icon wrap-->
                    </div><!--features col-->
                </div><!--row-->
                <div class="row">
                    <div class="col-sm-6 margin-bottom30">
                        <div class="feature-icon-wrap clearfix">
                            <div class="left-side-icon">
                                <ion-icon name="phone-portrait-outline" class="front-icon"></ion-icon>
                                <ion-icon name="phone-portrait-outline" class="back-icon"></ion-icon>
                            </div>
                            <div class="features-text-right">
                                <h3>Fully Responsive</h3>                         
                                <p>
                                    Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.
                                </p>
                            </div>
                        </div><!--features icon wrap-->
                    </div><!--features col-->
                    <div class="col-sm-6 margin-bottom30">
                        <div class="feature-icon-wrap clearfix">
                            <div class="left-side-icon">
                                <ion-icon name="analytics-outline" class="front-icon"></ion-icon>
                                <ion-icon name="analytics-outline" class="back-icon"></ion-icon>
                            </div>
                            <div class="features-text-right">
                                <h3>Dedicated Team</h3>                         
                                <p>
                                    Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.
                                </p>
                            </div>
                        </div><!--features icon wrap-->
                    </div><!--features col-->
                </div><!--row-->
            </div><!--container-->      
        </section><!--about section end-->


        <div class="funfacts parallax-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 margin-bottom30 text-center">
                        <div class="fact-box">
                            <h2>654</h2>                          
                            <h5>Happy Clients</h5>
                            <span class="border-line"></span>
                        </div>
                    </div><!--fact cols-->
                    <div class="col-sm-3 margin-bottom30 text-center">
                        <div class="fact-box">
                            <h2>832</h2>                          
                            <h5>Projects finish</h5>
                            <span class="border-line"></span>
                        </div>
                    </div><!--fact cols-->
                    <div class="col-sm-3 margin-bottom30 text-center">
                        <div class="fact-box">
                            <h2>800</h2>                          
                            <h5>Pizza ordered </h5>
                            <span class="border-line"></span>
                        </div>
                    </div><!--fact cols-->
                    <div class="col-sm-3 margin-bottom30 text-center">
                        <div class="fact-box">
                            <h2>750</h2>                          
                            <h5>Cups of coffee</h5>
                            <span class="border-line"></span>
                        </div>
                    </div><!--fact cols-->

                </div>
            </div>
        </div>

        <!-- Testimonios -->
        <div class="team">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="section-title text-center">
                            <h1> <span class="alo">Testimonios de </span>Clientes</h1> 
                            <span class="border-line"></span>
                            <p class="lead subtitle-caption">
                                Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- testimonios sub -->
                <div class="row">

                    <div class="col-sm-4 margin-bottom30">
                        <div class="team-box">
                            <img src="{% static 'images/team-1.jpg' %}" class="img-responsive" alt="">

                            <ul class="social list-inline">
                                <p>
                                    Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.
                                </p>
                                <li>
                                    <ion-icon name="star"></ion-icon>
                                </li>
                                <li>
                                    <ion-icon name="star"></ion-icon>
                                </li>
                                <li>
                                    <ion-icon name="star"></ion-icon>
                                </li>
                                <li>
                                    <ion-icon name="star"></ion-icon>
                                </li>
                                <li>
                                    <ion-icon name="star"></ion-icon>
                                </li>
                            </ul>
                        </div>
                        <div class="team-desc">
                            <h4>Daniel Smith</h4>
                            <em>Manager</em>
                        </div>
                    </div><!--team col end-->
                    <div class="col-sm-4 margin-bottom30">
                        <div class="team-box">
                            <img src="{% static 'images/team-2.jpg' %}" class="img-responsive" alt="">                       
                            <ul class="social list-inline">
                                <p>
                                    Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.
                                </p>
                                <li>
                                    <ion-icon name="star"></ion-icon>
                                </li>
                                <li>
                                    <ion-icon name="star"></ion-icon>
                                </li>
                                <li>
                                    <ion-icon name="star"></ion-icon>
                                </li>
                                <li>
                                    <ion-icon name="star-outline"></ion-icon>
                                </li>
                                <li>
                                    <ion-icon name="star-outline"></ion-icon>
                                </li>
                            </ul>
                        </div>
                        <div class="team-desc">
                            <h4>Daniel Smith</h4>
                            <em>Manager</em>
                        </div>
                    </div><!--team col end-->
                    <div class="col-sm-4 margin-bottom30">
                        <div class="team-box">
                            <img src="{% static 'images/team-3.jpg' %}" class="img-responsive" alt="">                     
                            <ul class="social list-inline">
                                <p>
                                    Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.
                                </p>
                                <li>
                                    <ion-icon name="star"></ion-icon>
                                </li>
                                <li>
                                    <ion-icon name="star"></ion-icon>
                                </li>
                                <li>
                                    <ion-icon name="star"></ion-icon>
                                </li>
                                <li>
                                    <ion-icon name="star"></ion-icon>
                                </li>
                                <li>
                                    <ion-icon name="star-outline"></ion-icon>
                                </li>
                            </ul>
                        </div>
                        <div class="team-desc">
                            <h4>Daniel Smith</h4>
                            <em>Manager</em>
                        </div>
                    </div><!--team col end-->
                </div>
            </div>
        </div><!--team section end-->
        <!-- Testimonios -->

        <!-- Servicios -->
        <section id="services" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="section-title">
                            <h1>Nuestros <span class="colored-text">Servicios</span></h1> 
                            <span class="border-line"></span>
                            <p class="lead subtitle-caption">
                                Por que <span class="colored-text">elegirnos</span>
                            </p>
                        </div>
                    </div>
                </div><!-- title row end-->
                <div class="row">
                    <div class="col-sm-6 margin-bottom30">
                        <div class="feature-icon-wrap services-icons clearfix">
                            <div class="left-side-icon">
                                <ion-icon name="paper-plane-outline" class="front-icon"></ion-icon>
                            </div>
                            <div class="features-text-right">
                                <h3>Marketing</h3>                         
                                <p>
                                    Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.
                                </p>
                            </div>
                        </div>
                    </div><!--services col-->
                    <div class="col-sm-6 margin-bottom30">
                        <div class="feature-icon-wrap services-icons clearfix">
                            <div class="left-side-icon">
                                <ion-icon name="cloud-done-outline" class="front-icon"></ion-icon>
                            </div>
                            <div class="features-text-right">
                                <h3>Completamente Digital</h3>                         
                                <p>
                                    Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.
                                </p>
                            </div>
                        </div>
                    </div><!--services col-->
                </div><!--services row-->
                <div class="row">
                    <div class="col-sm-6 margin-bottom30">
                        <div class="feature-icon-wrap services-icons clearfix">
                            <div class="left-side-icon">
                                <ion-icon name="globe-outline" class="front-icon"></ion-icon>
                            </div>
                            <div class="features-text-right">
                                <h3>Social Media</h3>                         
                                <p>
                                    Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.
                                </p>
                            </div>
                        </div>
                    </div><!--services col-->
                    <div class="col-sm-6 margin-bottom30">
                        <div class="feature-icon-wrap services-icons clearfix">
                            <div class="left-side-icon">
                                <ion-icon name="color-wand-outline" class="front-icon"></ion-icon>
                            </div>
                            <div class="features-text-right">
                                <h3>Creative ideas</h3>                         
                                <p>
                                    Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.
                                </p>
                            </div>
                        </div>
                    </div><!--services col-->
                </div><!--services row-->
                <div class="row">
                    <div class="col-sm-6 margin-bottom30">
                        <div class="feature-icon-wrap services-icons clearfix">
                            <div class="left-side-icon">
                                <ion-icon name="finger-print-outline" class="front-icon"></ion-icon>
                            </div>
                            <div class="features-text-right">
                                <h3>Responsive Design</h3>                         
                                <p>
                                    Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.
                                </p>
                            </div>
                        </div>
                    </div><!--services col-->
                    <div class="col-sm-6 margin-bottom30">
                        <div class="feature-icon-wrap services-icons clearfix">
                            <div class="left-side-icon">
                                <ion-icon name="chatbubble-outline" class="front-icon"></ion-icon>
                            </div>
                            <div class="features-text-right">
                                <h3>Customer Support</h3>                         
                                <p>
                                    Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.
                                </p>
                            </div>
                        </div>
                    </div><!--services col-->
                </div><!--services row-->
            </div>
        </section><!--services section end-->
        <!-- Servicios -->

        <!-- Noticias -->
        <div class="">
        </div>
        <div class="row">
            <div class="col-sm-4 margin-bottom30">
                <div class="price-box text-center">
                    <div class="header ">
                        <h3>Standard</h3>
                        <div class="price">
                            <h2>$3.99</h2>
                            <span>Start price / month</span>
                        </div>
                    </div>
                    <ul class="list-unstyled">
                        <li>10 GB Storage Space</li>
                        <li>50 GB Bandwidth</li>
                        <li>Unlimited Users</li>
                        <li>No Time Tracking</li>
                        <li>Enhanced Security</li>
                    </ul>
                    <div class="price-footer">
                        <h4><a href="#" class="btn btn-border-black">Buy Now</a></h4>
                    </div>
                </div>
            </div><!--price col-->
             <div class="col-sm-4 margin-bottom30">
                <div class="price-box text-center">
                    <div class="header active">
                        <h3>Standard</h3>
                        <div class="price">
                            <h2>$3.99</h2>
                            <span>Start price / month</span>
                        </div>
                    </div>
                    <ul class="list-unstyled">
                        <li>10 GB Storage Space</li>
                        <li>50 GB Bandwidth</li>
                        <li>Unlimited Users</li>
                        <li>No Time Tracking</li>
                        <li>Enhanced Security</li>
                    </ul>
                    <div class="price-footer">
                        <h4><a href="#" class="btn btn-border-theme">Buy Now</a></h4>
                    </div>
                </div>
            </div><!--price col-->
             <div class="col-sm-4 margin-bottom30">
                <div class="price-box text-center">
                    <div class="header">
                        <h3>Standard</h3>
                        <div class="price">
                            <h2>$3.99</h2>
                            <span>Start price / month</span>
                        </div>
                    </div>
                    <ul class="list-unstyled">
                        <li>10 GB Storage Space</li>
                        <li>50 GB Bandwidth</li>
                        <li>Unlimited Users</li>
                        <li>No Time Tracking</li>
                        <li>Enhanced Security</li>
                    </ul>
                    <div class="price-footer">
                        <h4><a href="#" class="btn btn-border-black">Buy Now</a></h4>
                    </div>
                </div>
            </div><!--price col-->
        </div>
    </div>
</div><!--pricing-->

        {% include "cta.html" %}

        <section id="work" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="section-title text-center">
                            <h1> <span class="alo">Our</span> Portfolio</h1>  
                            <span class="border-line"></span>
                            <p class="lead subtitle-caption">
                                Vivamus congue diam vitae tortor imperdiet congue.
                            </p>
                        </div>
                    </div>
                </div><!--heading row-->


                <div class="row">
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'images/work-1.jpg' %}" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'images/work-1.jpg' %}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Branding</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'images/work-2.jpg' %]" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'images/work-2.jpg' %}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Branding</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'images/work-3.jpg' %}" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'images/work-3.jpg' %}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Branding</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                </div><!--work row-->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'images/work-4.jpg' %}" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'images/work-4.jpg' %}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Branding</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'images/work-5.jpg' %}" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'images/work-5.jpg' %}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Branding</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'images/work-6.jpg' %}" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'images/work-6.jpg' %}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Branding</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                </div><!--work row-->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'images/work-7.jpg' %}" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'images/work-7.jpg' %}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Branding</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'images/work-8.jpg' %}" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'images/work-8.jpg' %}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Branding</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                    <div class="col-sm-4">
                        <div class="entry-thumb portfolio-thumb">
                            <div class="imgoverlay text-light">
                                <a href="{% static 'images/work-9.jpg' %}" class="load-content prettyPhoto" data-gal="prettyPhoto[name_gallery]">
                                    <img src="{% static 'images/work-9.jpg' %}" class="img-responsive" alt="">
                                    <div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo" style="margin-top: -11px;"><h6>Branding</h6></div></div>
                                </a>
                            </div>
                        </div>
                    </div><!--work col-->
                </div><!--work row-->
            </div>
        </section><!--work section end-->

        {% include "faq.html" %}

        <!-- cta -->
        <div class="cta">
            <div class="container text-center scroll-to">
                <h1>Simple & clean one page template</h1>
                <a href="#contact" class="btn btn-border-black btn-radius btn-lg">Purchase now</a>
            </div>
        </div><!--call to action-->


        {% include 'email.html' %}

        {% include 'socials.html' %}

        {% include 'footer.html' %}

        {% include 'scripts.html' %}
        <script type="text/javascript" src="{% static 'js/faq.js' %}"></script>

    </body>
</html>
