<div class="fullwidthbanner" id="home">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE 1 -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                <!-- MAIN IMAGE -->
                <img src="{% static 'images/bg-1.jpg' %}" alt="desk" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption slider-title" data-x="center" data-y="center"  data-voffset="-30" data-speed="500" data-start="1200" data-easing="Power4.easeInOut">
                    Bienvenido al portal de <span>YaEnvialo</span>
                </div> <!-- /tp-caption -->
                <!-- LAYER NR. 2 -->
                <div class="tp-caption slider-caption" data-x="center" data-y="center" data-voffset="40" data-speed="500" data-start="1800" data-easing="Power4.easeInOut" data-captionhidden="on">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit aute irure
                </div> <!-- /tp-caption -->

                <!-- LAYER NR. 3 -->
                <div class="tp-caption slider-button scroll-to" data-x="center" data-y="center" data-voffset="120" data-speed="500" data-start="2400" data-easing="Power4.easeInOut" data-captionhidden="on">
                    <a class="btn btn-white" href="#about">Conoce Mas</a>
                </div> <!-- /tp-caption -->
            </li>
            <!-- SLIDE 2 -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                <!-- MAIN IMAGE -->
                <img src="{% static 'images/bg-3.jpg' %}" alt="desk" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption slider-title" data-x="center" data-y="center"  data-voffset="-30" data-speed="500" data-start="1200" data-easing="Power4.easeInOut">
                    <span>YaEnvialo</span>
                </div> <!-- /tp-caption -->

                <!-- LAYER NR. 2 -->
                <div class="tp-caption slider-caption" data-x="center" data-y="center" data-voffset="40" data-speed="500" data-start="1800" data-easing="Power4.easeInOut" data-captionhidden="on">
                    Envios rapidos y accesibles
                </div> <!-- /tp-caption -->

                <!-- LAYER NR. 3 -->
                <div class="tp-caption slider-button scroll-to" data-x="center" data-y="center" data-voffset="120" data-speed="500" data-start="2400" data-easing="Power4.easeInOut" data-captionhidden="on">
                    <a class="btn btn-white" href="#about">Conoce mas</a>
                </div> <!-- /tp-caption -->
            </li>
            <!-- SLIDE 3 -->
        </ul>
    </div>
</div><!--full width banner-->