<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gracias por contactarnos | YaEnvialo</title>
    {% load static %}
    <link href="{% static 'styles/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'icons/css/ionicons.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/faq.css' %}">   

    <style type="text/css">
    	.cta_expand {
    		height: 100vh;
    		padding-top: 15%;
    	}
    	.subtitle-caption {
    		font-size: 2rem;
    		color: white;
    	}

    	@media screen and (max-width: 860px) {
    		.cta_expand {
    			padding-top: 40%;
    		}
    	}
    </style>
</head>
<body>
	{% include "navbar.html" %}
	{<!-- % include "cta.html" with extra_class="cta_expand" %} -->
	<div class="cta cta-bg cta_expand">
	    <div class="container text-center scroll-to">
	        <h1>Gracias por contactarnos!</h1>
	        <span class="border-line"></span>
	        <p class="subtitle-caption">Te contestaremos lo antes possible, para otras dudas revisa preguntas frequents</p>
	        <span class="border-line"></span>
	        <a href="/" class="btn btn-white btn-radius btn-lg">regresat a Inicio</a>
	    </div>
	</div><!--call to action-->
	{% include "faq.html" %}
	{% include "socials.html" %}
	{% include "footer.html"%}
	{% include "scripts.html" %}
	<script src="{% static 'js/faq.js' %}" type="text/javascript"></script>
</body>
</html>